[Desktop Entry]
Version=0.1.0
Encoding=UTF-8
Name=Above Ground Labs GCS
Exec=abovegroundlabs-gcs
TryExec=abovegroundlabs-gcs
Comment=Configure, Tune, Diagnose, Track, & Upgrade FW for Above Ground Labs solutions
Terminal=false
Categories=AboveGroundLabsMenu;Qt;Other;
Icon=abovegroundlabs
Type=Application
MimeType=application/abovegroundlabs.snapshot;
