Source: abovegroundlabs
Section: unknown
Priority: extra
Maintainer: naiiawah <naiiawah@openpilot.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://abovegroundlabs.org
Vcs-Git: git://github.com/PhoenixPilot/PhoenixPilot.git
Vcs-Browser: https://github.com/PhoenixPilot/PhoenixPilot/commits/next 

Package: abovegroundlabs
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Above Ground Labs GCS & FW

