Source: taulabs
Section: unknown
Priority: extra
Maintainer: peabody124 <peabody124@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://taulabs.org
Vcs-Git: git://github.com/PhoenixPilot/PhoenixPilot.git
Vcs-Browser: https://github.com/PhoenixPilot/PhoenixPilot/commits/next 

Package: taulabs
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tau Labs GCS & FW

